  .headText{
    font-family: 'Poppins', Sans-Serif;
    font-weight: 700;
    font-size: 35px;
    color: #2c3e50;
  }

  .teks-2{
    font-family: 'Poppins', Sans-Serif;
    font-weight: 500;
    font-size: 13px;
    color: #2c3e50;
    opacity: 0.9;
  }
  
  .form-control{
    width: 275px;
  }

  .btn{
    width: 100px;
    font-family: 'Poppins', Sans-Serif;
    font-weight: 500;
    font-size: 14px;
  }

  footer{
    font-family: 'Poppins', Sans-Serif;
    font-weight: 500;
    font-size: 10px;
    color: #2c3e50;
  }

